<body>
  <app-navbar></app-navbar>
  <!-- <form (ngSubmit)="onSubmit()"> -->
    <!-- <h2>Hotel Offer</h2> -->
    <mat-stepper [linear]="true" #stepper="matStepper">
      
      <mat-step [stepControl]="firstFormGroup">
        <div class="container">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Hotel Offer</ng-template>
          <div>
            <mat-form-field>
              <mat-label>Offer ID</mat-label>
              <input matInput formControlName="offerId" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Hotel Name</mat-label>
              <input matInput formControlName="hotelName" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Check-In Date</mat-label>
              <input matInput type="date" formControlName="checkInDate" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Check-Out Date</mat-label>
              <input matInput type="date" formControlName="checkOutDate" required>
            </mat-form-field>
          </div>
          <div>
            <button mat-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </div>
      </mat-step>
  
      <mat-step [stepControl]="secondFormGroup">
        <div class="container">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Hotel Guest</ng-template>
          <div>
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" required>
              <mat-error *ngIf="secondFormGroup.hasError('required', 'firstName')">First name is required</mat-error>
              <mat-error *ngIf="secondFormGroup.hasError('pattern', 'firstName')">First name should only contain letters</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" required>
              <mat-error *ngIf="secondFormGroup.hasError('required', 'lastName')">Last name is required</mat-error>
              <mat-error *ngIf="secondFormGroup.hasError('pattern', 'lastName')">Last name should only contain letters</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phoneNumber" required>
              <mat-error *ngIf="secondFormGroup.hasError('required', 'phoneNumber')">Phone number is required</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" required>
              <mat-error *ngIf="secondFormGroup.hasError('required', 'email')">Email is required</mat-error>
              <mat-error *ngIf="secondFormGroup.hasError('email', 'email')">Email is not valid</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>No Of Additional People</mat-label>
              <input matInput type="number" formControlName="noOfAdditionalPeople" min="0">
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
        </div>
      </mat-step>
  
      <mat-step [stepControl]="thirdFormGroup">
        <div class="container">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Payment</ng-template>
          <div>
            <mat-form-field>
              <mat-label>Payment Type</mat-label>
              <mat-select formControlName="paymentType" required>
                <mat-option *ngFor="let type of paymentTypes" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
           
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Card Number</mat-label>
              <input matInput formControlName="cardNumber" required>
              <mat-error *ngIf="thirdFormGroup.hasError('required', 'cardNumber')">Card number is required</mat-error>
              <mat-error *ngIf="thirdFormGroup.hasError('pattern', 'cardNumber')">Card number is not valid</mat-error>
              <mat-error *ngIf="thirdFormGroup.hasError('minlength', 'cardNumber')">
                Card number should have 16 digits
              </mat-error>
              <mat-error *ngIf="thirdFormGroup.hasError('maxlength', 'cardNumber')">
                Card number should have 16 digits
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Expiry Date</mat-label>
              <input matInput type="month" formControlName="expiryDate" required>
              <mat-error *ngIf="thirdFormGroup.hasError('required', 'expiryDate')">Expiry date is required</mat-error>
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button color="primary" (click)="createHotelBooking()">Submit</button>
          </div>
        </form>
      </div>
      </mat-step>
    </mat-stepper>
 
  
</body>


