.flight-card {
    // max-width: 400px;
    opacity: 80%;
  }
  
  .profile-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  }
  
  .container {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .containerall {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    // margin-top: 4%;
  }
  
  .button-row {
    display: flex;
    justify-content: center;
    margin-top: 5px; /* Adjust as needed */
    margin-bottom: 5px; /* Adjust as needed */
  }
  
  body {
    background-image: url("/assets/var3.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevents body from scrolling */
  }
  
  .center {
    justify-content: center;
    align-items: center;
    max-height: min-content;
    flex: 1; /* Makes the div take the remaining space */
    max-height: calc(100vh - 20px); /* Subtract the padding or margins if any */
    overflow-y: auto; /* Enables vertical scrolling */
    padding: 10px; /* Optional: for some padding inside the scrollable div */
    box-sizing: border-box; /* Ensures padding is included in height calculation */
  }
  
  .center::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  