<body>
  <app-navbar></app-navbar>
  <div class="containerall">
    <div class="container">
      <mat-form-field appearance="fill">
        <mat-label>Search for airport</mat-label>
        <input
          type="text"
          matInput
          [formControl]="searchControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onOptionSelected($event)"
        >
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option.iataCode"
          >
            {{ option.city }} - {{ option.airportName }} ({{ option.iataCode }})
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="button-row">
      <button mat-raised-button color="primary" (click)="searchFlights()">
        Search
      </button>
    </div>

    <div class="center-wrapper">
    <div class="center" *ngIf="hasFlights">
      <h2>Direct destinations from {{ originAirport }}</h2>
      <p *ngFor="let flight of flights">
        <mat-card class="flight-card">
          <mat-card-header>
            <mat-card-title
              >From: {{ flight.origin }} -> To:
              {{ flight.destination }}</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p>Departure : {{ flight.departureDate }}</p>
            <p>Return : {{ flight.returnDate }}</p>
            <p>Price : {{ flight.price }} EUR</p>
          </mat-card-content>
        </mat-card>
      </p>
    </div>
  </div>
</div>
</body>
