<body>
  <app-navbar></app-navbar>

  <div class="center-wrapper">
    <div class="center" >
      <mat-card class="hotel-card"  *ngIf = "!hasRooms">
        <mat-card-header>
          <mat-card-title> No more available rooms!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <p>Seems like the property you selected has no available rooms for the specified period.</p>
          <p>Go back and try another one!</p>
          <br>
        </mat-card-content>
        <mat-card-actions class="action-buttons">
          <button
            mat-raised-button
            color="accent"
            type="button"
            (click)="goBack()"
          >
            Back
          </button>
           </mat-card-actions>
      </mat-card>
      <mat-card class="hotel-card"  *ngIf = "hasRooms">
        <mat-card-header>
          <mat-card-title> {{ hotel.hotelName }} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>CheckIn date: {{ hotel.checkInDate }}</p>
          <p>CheckOut date: {{ hotel.checkOutDate }}</p>
          <p>{{ hotel.description }}</p>

          <p>Room : {{ hotel.roomCategory }}</p>
          <p>
            {{ hotel.noOfBeds }} {{ hotel.bedType }} for
            {{ hotel.noOfGuests }}
          </p>
          <p>Total price: {{ hotel.price }} {{ hotel.currency }}</p>

          <div class="map-container">
            <google-map
              [center]="center"
              [zoom]="zoom"
              [options]="options"
              height="500px"
              width="100%">
              <map-marker [position]="center"></map-marker>
            </google-map>
          </div>
          

        </mat-card-content>
        <mat-card-actions class="action-buttons">
          <button
            mat-raised-button
            color="accent"
            type="button"
            (click)="goBack()"
          >
            Back
          </button>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="bookHotel()"
          >
            Book
          </button>
          <!-- <button mat-raised-button color="primary" type="submit" (click)="openDialog()">Add to wishlist</button> -->
        </mat-card-actions>
      </mat-card>

      <div #mapContainer style="height: 400px; width: 100%"></div>
    </div>
  </div>
</body>
