<body>
  <app-navbar></app-navbar>
  <mat-stepper [linear]="true" #stepper="matStepper">
    <mat-step label="Passenger details">
      <div class="container">
        <mat-horizontal-stepper linear>
          <ng-container *ngFor="let group of firstFormGroups; let i = index">
            <mat-step [stepControl]="group" label="Passenger {{ i + 1 }}">
              <form [formGroup]="group">
                <h3>Passenger {{ i + 1 }}</h3>
                <mat-form-field>
                  <mat-label>First name</mat-label>
                  <input
                    matInput
                    placeholder="First name"
                    formControlName="firstName"
                    required
                  />
                  <mat-error *ngIf="group.hasError('required', 'firstName')">
                    First name is required
                  </mat-error>
                  <mat-error *ngIf="group.hasError('pattern', 'firstName')">
                    First name should only contain letters
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Last name</mat-label>
                  <input
                    matInput
                    placeholder="Last name"
                    formControlName="lastName"
                    required
                  />
                  <mat-error *ngIf="group.hasError('required', 'lastName')">
                    Last name is required
                  </mat-error>
                  <mat-error *ngIf="group.hasError('pattern', 'lastName')">
                    Last name should only contain letters
                  </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field>
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender">
                    <mat-option value="Female">Female</mat-option>
                    <mat-option value="Male">Male</mat-option>
                  </mat-select>
                </mat-form-field>
                <br />
                <mat-form-field>
                  <mat-label>Document type</mat-label>
                  <mat-select formControlName="documentType">
                    <mat-option value="Passport">Passport</mat-option>
                    <mat-option value="Identity Card">Identity Card</mat-option>
                  </mat-select>
                  <mat-error *ngIf="group.hasError('required', 'documentType')">
                    Document type is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Document number</mat-label>
                  <input
                    matInput
                    placeholder="Document number"
                    formControlName="documentNumber"
                    required
                  />
                  <mat-error *ngIf="group.hasError('required', 'documentNumber')">
                    Document number is required
                  </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    placeholder="Email"
                    formControlName="email"
                    required
                  />
                  <mat-error *ngIf="group.hasError('required', 'email')">
                    Email is required
                  </mat-error>
                  <mat-error *ngIf="group.hasError('email', 'email')">
                    Email is not valid
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Phone number</mat-label>
                  <input
                    matInput
                    placeholder="Phone number"
                    formControlName="phoneNumber"
                    required
                  />
                  <mat-error *ngIf="group.hasError('required', 'phoneNumber')">
                    Phone number is required
                  </mat-error>
                  <mat-error *ngIf="group.hasError('pattern', 'phoneNumber')">
                    Phone number is not valid
                  </mat-error>
                </mat-form-field>
                <br />
                <div>Carry-on bag included</div>
                <br />
                <div>
                  <button mat-button *ngIf="i > 0" matStepperPrevious>Back</button>
                  <button mat-button *ngIf="i < firstFormGroups.length - 1" matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
          </ng-container>
        </mat-horizontal-stepper>
        <div>
          <button mat-button *ngIf="isLastPassengerStep()" color="primary" matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Passenger bags">
      <form [formGroup]="secondFormGroup">
        <div class="container-baggage">
          <mat-card class="baggage-card" *ngFor="let weight of [10, 20, 26, 32]">
            <button mat-button (click)="secondFormGroup.patchValue({ baggageWeight: weight })">
              <div class="baggage-content">
                <mat-icon>work</mat-icon>
                <div>{{ weight }} kg</div>
              </div>
            </button>
          </mat-card>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Payment">
      <div class="container">
        <form [formGroup]="thirdFormGroup">
          <div>
            <mat-form-field>
              <mat-label>Payment Type</mat-label>
              <mat-select formControlName="paymentType" required>
                <mat-option *ngFor="let type of paymentTypes" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Card Number</mat-label>
              <input matInput formControlName="cardNumber" required>
              <mat-error *ngIf="thirdFormGroup.hasError('required', 'cardNumber')">
                Card number is required
              </mat-error>
              <mat-error *ngIf="thirdFormGroup.hasError('pattern', 'cardNumber')">
                Card number should only contain numbers
              </mat-error>
              <mat-error *ngIf="thirdFormGroup.hasError('minlength', 'cardNumber')">
                Card number should have 16 digits
              </mat-error>
              <mat-error *ngIf="thirdFormGroup.hasError('maxlength', 'cardNumber')">
                Card number should have 16 digits
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Expiry Date</mat-label>
              <input matInput type="month" formControlName="expiryDate" required>
              <mat-error *ngIf="thirdFormGroup.hasError('required', 'expiryDate')">
                Expiry date is required
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="createFlightBooking()">Finish</button>
          </div>
        </form>
      </div>
    </mat-step>
  </mat-stepper>
</body>
