<div class="popup">
  <div class="dialog container">
    <h2>Add to Wishlist</h2>
    <mat-form-field>
      <input matInput placeholder="Select or create wishlist" [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="addOption()">Add</button>
    <button mat-raised-button color="accent" (click)="onNoClick()">Close</button>
  </div>
</div>
