<router-outlet></router-outlet>
<!-- <app-navbar></app-navbar> -->
<!-- <h1>Welcome to Tripfinity!</h1>
<div class="carousel-container">
    <div class="carousel-wrapper" [style.transform]="transformStyle">
      <div class="carousel-item" *ngFor="let image of images">
        <img [src]="image" alt="Carousel image">
      </div>
    </div>
    <button (click)="prev()" class="carousel-control prev">‹</button>
    <button (click)="next()" class="carousel-control next">›</button>
  </div> -->
  
  