<app-navbar></app-navbar>
<div class="container">
<mat-card class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="profile-image"></div>
      <mat-card-title>{{profile.firstName}} {{profile.lastName}}</mat-card-title>
      <mat-card-subtitle>{{profile.username}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Email : {{profile.email}} </p>
        <p>BirthDate : {{profile.birthDate}} </p>
      <p>
        Description: The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>