body {
    background-image: 
        linear-gradient(rgba(255, 0, 115, 0), rgba(255, 0, 115, 0.20)), 
        url('/assets/suggestions.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevents body from scrolling */

}

.center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.carousel-container {
    position: relative;
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel-item {
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transform: scale(0.8);
}

.carousel-item.focused {
    transform: scale(1);
    opacity: 1;
    z-index: 1;
}

.flight-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img {
    width: 100%;
    height: auto;
    max-height: 60%; /* Adjust as needed */
    object-fit: cover;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
