body {
    background-image: 
        linear-gradient(rgba(255, 0, 115, 0), rgba(255, 0, 115, 0.20)), 
        url('/assets/suggestions.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevents body from scrolling */

}

// .center-wrapper {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 70%;
//   }
  
//   .center {
//     width: 80%;
//     max-width: 1200px;
//     margin: 0 auto;
//   }
  
//   .carousel-container {
//     position: relative;
//     overflow: hidden;
//     width: 100%;
//   }
  
//   .carousel {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     position: relative;
//   }
  
//   .carousel-item {
//     // position: absolute;
//     transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
//     opacity: 1;
//     width: 60%;
//     max-width: 600px;
//     height: auto;
//     transform: scale(0.7);
//   }
  
//   .carousel-item.focused {
//     opacity: 1;
//     transform: scale(1);
//     z-index: 1;
//   }
  
//   .carousel-item.left,
//   .carousel-item.right {
//     opacity: 0.5;
//     z-index: 0;
//   }
  
//   .carousel-item.left {
//     transform: translateX(-120%) scale(0.7);
//   }
  
//   .carousel-item.right {
//     transform: translateX(120%) scale(0.7);
//   }
  
  .flight-card {
    width:100%;

  }
  
  .img{
    width: 100%;
  }

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .center {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
  }
  
  .carousel-item {
    // position: absolute;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
    width: 60%;
    max-width: 600px;
    height: auto;
    transform: scale(1);
  }
  
  .carousel-item.focused {
    opacity: 1;
    transform: scale(1);
    z-index: 1;
  }
  
  .carousel-item.left,
  .carousel-item.right {
    opacity: 0.5;
    
  }
  
  .carousel-item.left {
    transform: translateX(-100%) scale(1);
    z-index: 0;
  }
  
  .carousel-item.right {
    transform: translateX(100%) scale(1);
    z-index: 2;
  }
  
  .flight-card {
    width: 100%;
  }
  