<mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item (click)="goToProfile()">Profile</a>
      <a mat-list-item (click)="goToHotelBookings()">Hotel Bookings</a>
      <a mat-list-item (click)="goToFlightBookings()">Flight Bookings</a>
      <a mat-list-item (click)="goToFavourites()">Favourites</a>
      <a mat-list-item (click)="goToWishlist()">Wishlist</a>
      <a mat-list-item (click)="goToChat()">ChatAI</a>
    </mat-nav-list>
  </mat-sidenav>
  