<body>
    <app-navbar></app-navbar>
  <div class="insideBody">
    <div class="container">
        <div class="text">
          <p><b>Welcome to your best travel buddy!</b></p>
          <p><b>
            To let your adventure begin,</b></p>
             <br>
             <p><b> 
            Log in to your account!</b>
          </p>
          <button mat-raised-button color="primary" (click)="goToSignup()">
            Sign Up
          </button>
    
        </div>
    </div>
      </div>
  </body>
  